@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');
</style> 

html, body {
  margin:0;
  padding:0;
  }
 
body{
  background-color: rgb(32, 32, 48);
  font-family:Orbitron, sans-serif;
  font-size:small;
  color:white;
}
/* BANNER */
header{
  padding:0px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.banner1{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding:0px 10px;
  color:rgb(32, 32, 48);
  font-size: 9px;
  background-color:gray;
}

.banner2{
  padding:0px 10px;
  display: flex;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

h1{
  box-sizing: border-box;
}

.material-icons-round{
  font-size :25px;
  color:rgb(32, 32, 48);
  padding-bottom: 11px;
  padding-left: 7px;
}
.navIcons{
  display:flex;
  justify-content: flex-end;
  align-items:flex-end;
  background-color:gray;
}
/* END BANNER/NAVBAR*/

form {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-top:35px;
}

.addLinkFormField,textarea {
  margin-top: 8px;
  margin-bottom: 20px;
  height: 40px;
  width: 350px;
  padding:12px;
  border-radius: 10px;
  background-color: gray;
  border: none;
  box-sizing: border-box;
}

.addLinkFormField{
  color: rgb(187, 178, 209);
  
}

.addLinkFormField::placeholder, textarea::placeholder {
  color: rgb(229, 223, 235);
}

textarea {
  margin-bottom: 15px;
  min-height:150px;
  min-width: 150px;
  background-color: gray;
  border-radius: 10px;
  border: none;
  }

.submitButton{
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  background:gray;
  font-family:Orbitron,sans-serif;
  font-size:small;
  font-weight: bold;
  color: #c3acca;
  border: none;
  border-radius: 10px;

}

/*style page catégorie*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');


body {
    /*display: flex;
    flex-direction:column;*/
    background-color: rgb(29, 28, 28);
    font-family:Orbitron, sans-serif;
}

/* BANNER */
header{
    padding:0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .banner1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding:0px 10px;
    color:rgb(32, 32, 48);
    font-size: 9px;
    background-color:gray;
  }
  
  .banner2{
    padding:0px 10px;
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
  }
  
  h1{
    box-sizing: border-box;
  }
  
  .material-icons-round{
    font-size :25px;
    color:rgb(32, 32, 48);
    padding-bottom: 11px;
    padding-left: 7px;
  }
  .navIcons{
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    background-color:gray;
  }
  /* END BANNER/NAVBAR*/

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin:10px;
}

.introductionBox {
    background-color: gray;
    display:flex;
    align-items: center;
    border-radius: 10px;
    width: 90%;
}

a:hover {
    color: blue;
}

.logo {
    min-width:100px;
    padding:10px;
    box-sizing: border-box;
}

.searchBar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: none;
    color: white;
}
.send {
    height: 30px;
    width: 80px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: rgb(138, 130, 130);
    
}
.send:hover {
    color: rgb(38, 23, 172); 
}

.magnifyingGlass {
    height: 30px;
}
.searchField {
    background-color: rgb(200, 191, 191);
}

#search {
width: 50%;
height: 30px;
}

.reference{
    color: white;
}


/*Ajouts Sandrine*/


.subcategoryBox{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;    
}

.subcategoryBox h2{
    font-size:medium;
    color:white;
}

.subcatContent{
    display:flex;
    flex-direction: column;
    justify-content:center;
    border-radius: 10px;
    background-color: gray;
    padding:10px;
    margin-bottom:8px;
}

.subcatContent p, .introductionBox p{
    font-size:12px;
    padding:5px 10px;
    margin:1px;
}

.subcatContent a{
    text-decoration: none;
    color:rgb(72, 25, 90);
    padding:5px 10px;
    margin:1px;
    font-size:medium;
    font-weight: 900;
}

@media screen and (min-width: 768px){
    .mainContainer{
        margin:15px 150px;
    
    }
    }
 

